/*================ Drawers ================*/
.is-transitioning {
  // sass-lint:disable no-important
  display: block !important;
  visibility: visible !important;
}

.drawer {
  // sass-lint:disable no-misspelled-properties
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: $z-index-drawer;
  background-color: #fff;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  width: 100%;
  max-width: rem(300px);
}

.js-drawer-open {
  overflow: hidden;
}

.drawer--top {
  width: 100%;
  transform: translateY(0);

  .js-drawer-open-top & {
    transform: translateY(100%);
    display: block;
  }
}

.drawer--left {
  left: 0;
  transform: translateX(-100%);

  .js-drawer-open-left & {
    display: block;
    transform: translateX(0);

    .lt-ie9 & {
      left: 0;
    }
  }
}

.drawer--right {
  right: 0;
  transform: translateX(100%);

  .js-drawer-open-right & {
    display: block;
    transform: translateX(0);

    .lt-ie9 & {
      right: 0;
    }
  }
}

.drawer-page-content::after {
  visibility: hidden;
  opacity: 0;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: $z-index-drawer - 1;
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);

  .js-drawer-open & {
    visibility: visible;
    opacity: 1;
  }
}
